{% load static %}
{% load i18n %}
    <div class="large-text">
        {% blocktranslate %}
        <p>This service allows you to scan <strong>UPN QR</strong> codes (used in Slovenia) and obtain payment details
            in <strong>EPC QR</strong> format compatible with Revolut, Bunq, N26 and other EU banks.</p>
        {% endblocktranslate %}
        <p><span class="primary-text"><code>Scan</code></span> - {% trans "scan QR with a camera" %}</p>
        <p><span class="primary-text"><code>Enter</code></span> - {% trans "manually enter payment details" %}</p>
        <p><span class="primary-text"><code>Edit</code></span> - {% trans "edit the scanned code" %}</p>
        <p>
            {% trans "After scanning the QR code, you can choose to either copy the link to share it or save it for later use." %}
        </p>
    </div>
<br>
<img src="{% static 'img/stroska.png' %}" alt="Stroska" width="320">
