{% load static %}
{% load i18n %}
{% blocktranslate %}
<p>This service allows you to scan <strong>UPN QR</strong> codes (used in Slovenia) and obtain payment details in
<strong>EPC QR</strong> format compatible with Revolut, Wise, N26 and other EU banks.</p>
<p><kbd>Scan</kbd> - scan QR with a camera</p>
<p><kbd>Enter</kbd> - manually enter payment details</p>
<p><kbd>Edit</kbd> - edit the scanned code</p>
<p>
   After scanning the QR code, you can choose to either copy the link to share it or save it for later use.
</p>
{% endblocktranslate %}


<img src="{% static 'img/stroska.png' %}" alt="Stroska" width="320">
