{% load static %}{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <title>UPN QR to EPC QR Converter | Create & Download UPN Invoices | Slovenia Payment QR Codes</title>
    <meta name="description"
          content="Convert Slovenian UPN QR codes to EPC format, create new UPN invoices, and download PDF copies. Compatible with Revolut, Bunq, N26, Wise and other EU banks.">
    <meta name="keywords"
          content="qr, upn, epc, slovenia, eu, order, payment, plačilni, nalog, generator, builder, converter, create, invoice, pdf, download, revolut, wise, bunq, n26">

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="UPN QR to EPC QR Converter | Create & Download UPN Invoices">
    <meta property="og:description"
          content="Convert Slovenian UPN QR codes to EPC format, create new UPN invoices, and download PDF copies. Compatible with Revolut, Bunq, N26, Wise and other EU banks.">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}">
    <meta property="og:type" content="website">
    <meta property="og:logo" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/stroska.png' %}">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/stroska.png' %}">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="UPN QR Service">

    <!-- Twitter meta tags -->
    <meta property="twitter:title" content="UPN QR to EPC QR Converter | Create & Download UPN Invoices">
    <meta property="twitter:image"
          content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/stroska.png' %}">
    <meta property="twitter:description"
          content="Convert Slovenian UPN QR codes to EPC format, create new UPN invoices, and download PDF copies. Compatible with Revolut, Bunq, N26, Wise and other EU banks.">

    <link href="{% static 'css/beer.min.css' %}" rel="stylesheet">
    <script type="module" src="{% static 'js/beer.min.js' %}"></script>
    <script type="module" src="{% static 'js/material-dynamic-colors.min.js' %}"></script>

    <script src="{% static 'js/html5-qrcode.min.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% if not debug %}
        <script async data-id="101447793" src="/1ae93131f4aca.js"></script>
    {% endif %}
    <style>
        #reader {
            width: 640px;
        }
        .qr-code {
            width: 70vw;
            height: auto;
        }
        @media (max-width: 640px) {
            #reader {
                width: 100%;
            }
        }
        @media (min-width: 601px) {
            .qr-code {
                height: 25vw;
                width: auto;
            }
        }
    </style>
    <script>
        function controlCamera(cmd) {
            function onScanSuccess(decodedText, decodedResult) {
                {#console.log(`Code matched = ${decodedText}`, decodedResult);#}
                html5QrcodeScanner.clear();
                htmx.ajax('POST', '/api/v1/qr/', {
                    values: decodedResult,
                    target: '#main',
                    swap: 'innerHTML'
                }).then(() => {
                    {#console.log('ajax done');#}
                })
            }

            if (cmd === 'start') {
                if (typeof html5QrcodeScanner === 'object') {
                    html5QrcodeScanner.render(onScanSuccess);
                }
                if (typeof html5QrcodeScanner === 'undefined') {
                    html5QrcodeScanner = new Html5QrcodeScanner(
                        "reader", {
                            fps: 10,
                            qrbox: 250,
                            facingMode: {exact: "environment"},
                            formatsToSupport: [Html5QrcodeSupportedFormats.QR_CODE],
                            aspectRatio: 1,
                            experimentalFeatures: {useBarCodeDetectorIfSupported: false}
                        });
                    html5QrcodeScanner.render(onScanSuccess);
                }
            } else {
                if (typeof html5QrcodeScanner !== 'undefined') {
                    html5QrcodeScanner.clear();
                }
            }
        }

        function copyToClipboard(element) {
            const copyText = window.location.origin + element;
            navigator.clipboard.writeText(copyText);
        }
    </script>
</head>
{% get_current_language as LANGUAGE_CODE %}
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% block main_block %}
{% endblock main_block %}
<hr>
<footer>
    <div class="snackbar secondary" id="copy_link_snack">copy link to buffer</div>
    <p class="right-align"><i>copyright</i><a href="https://t.me/mamashin"><code>@mamashin</code></a></p>
</footer>
</body>
</html>
