{% load i18n %}
{% if form.errors %}
    <div class="space"></div>
    <span class="tertiary-text"><i>warning</i> {% trans "Error filling out the form" %}</span>
{% endif %}
{% for field in form %}
    {% if not field.is_hidden %}
        <div class="grid">
            <div class="s12 m12 l10">
                <div class="field label medium border {% if field.errors %}invalid{% endif %}">
                    {{ field }}
                    <label class="active">{{ field.label_tag }}</label>
                    {#                    <span class="helper">Helper text</span>#}
                    {% for field_error in  field.errors %}
                        <span class="error">{{ field_error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}
