{% extends '_base.html' %}
{% load static %}{% load i18n %}
{% block main_block %}
<main class="responsive max">
    <div id="main">
        {% include "nav.html" %}
        {% block get_qr %}
            <div id="scan_result">
                {% if not direct_get %} {# If request via HTMX #}
                    <article class="secondary-container">
                        {% include "include/main_description.html" %}
                    </article>
                {% endif %}
                {% if direct_get %} {# Direct requests #}
                    {% if mode == 'scan' %} {# Scan mode #}
                        <script>
                            window.onload = function () {
                                controlCamera('start');
                            }
                        </script>
                    {% endif %}
                    {% if mode == 'manual' or mode == 'qr' %} {# Manual form fill mode #}
                        <div id="scan_data">
                            {% include "only_form.html" %}
                            <div></div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endblock get_qr %}
    </div>
    <div id="reader"></div>
</main>
{% endblock main_block %}
