{% load i18n %}
<div>
    <form hx-post="{% url 'manual_form' %}" hx-target="#{% if mode == 'qr' %}main{% else %}scan_data{% endif %}" hx-swap="innerHTML">
    {% if mode == 'manual' %}
        {# TODO: Translate  #}
        <span class="large-text secondary-text">Введите данные для формирования нового счета</span>
    {% endif %}
        {% include "custom_form_render.html" %}
        {% if mode == 'qr' %}
            <input type="hidden" name="qr_edit_form" value="{{ model.rnd }}">
        {% endif %}
    <div class="small-space"></div>
        <button type="submit" class="small-round no-margin">
            <i>qr_code</i>
            <span>{% trans "Create QR" %}</span></button>
    </form>
</div>
